# NBA Box Scores and data analysis

Data from [Kaggle](https://www.kaggle.com/pablote/nba-enhanced-stats "Kaggle page").

3/21/2018 play around with NBA box scores data as practice for learning Python and pandas
11/7/2018 revisiting this project as practice for learning pandas and numpy


## Interesting questions
1. Specific referee bias against teams or individual players?
2. Specific player stats. Regular vs post-season performance? Home vs away games? Shooting percentage depending on game venue? 
3. Seasonal influence on player performances? e.g. do they play better at particular times of the year? Do players play better at night or during the day? On weekdays or weekends? Holidays?

In [1]:
import numpy as np
import pandas as pd
!ls

2016-17_officialBoxScore.csv  2017-18_teamBoxScore.csv
2016-17_playerBoxScore.csv    metadata_officialBoxScore.pdf
2016-17_standings.csv	      metadata_playerBoxScore.pdf
2016-17_teamBoxScore.csv      metadata_standing.pdf
2017-18_officialBoxScore.csv  metadata_teamBoxScore.pdf
2017-18_playerBoxScore.csv    NBA Scores Analysis.ipynb
2017-18_standings.csv	      teamBoxScore.csv

Load player Box Scores

In [3]:
df = pd.read_csv('2016-17_playerBoxScore.csv');

Get a sense of the data and available columns

In [6]:
df.head()

,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,playFT%,playORB,playDRB,playTRB,opptAbbr,opptConf,opptDiv,opptLoc,opptRslt,opptDayOff
0,2016-10-25,08:00,Regular,Porziņģis,Kristaps,NY,East,Atlantic,Away,Loss,...,0.5,4,3,7,CLE,East,Central,Home,Win,0
1,2016-10-25,08:00,Regular,Rose,Derrick,NY,East,Atlantic,Away,Loss,...,1.0,2,1,3,CLE,East,Central,Home,Win,0
2,2016-10-25,08:00,Regular,Anthony,Carmelo,NY,East,Atlantic,Away,Loss,...,1.0,1,4,5,CLE,East,Central,Home,Win,0
3,2016-10-25,08:00,Regular,Lee,Courtney,NY,East,Atlantic,Away,Loss,...,0.0,1,2,3,CLE,East,Central,Home,Win,0
4,2016-10-25,08:00,Regular,Noah,Joakim,NY,East,Atlantic,Away,Loss,...,0.0,1,5,6,CLE,East,Central,Home,Win,0

In [7]:
df.iloc[1]

gmDate          2016-10-25
gmTime               08:00
seasTyp            Regular
playLNm               Rose
playFNm            Derrick
teamAbbr                NY
teamConf              East
teamDiv           Atlantic
teamLoc               Away
teamRslt              Loss
teamDayOff               0
offLNm1               Lane
offFNm1               Karl
offLNm2              Adams
offFNm2             Bennie
offLNm3            Kennedy
offFNm3               Bill
playDispNm    Derrick Rose
playStat           Starter
playMin                 30
playPos                 PG
playHeight              75
playWeight             190
playBDate       1988-10-04
playPTS                 17
playAST                  1
playTO                   4
playSTL                  0
playBLK                  1
playPF                   1
playFGA                 17
playFGM                  7
playFG%             0.4118
play2PA                 15
play2PM                  6
play2P%                0.4
play3PA                  2
play3PM                  1
play3P%                0.5
playFTA                  2
playFTM                  2
playFT%                  1
playORB                  2
playDRB                  1
playTRB                  3
opptAbbr               CLE
opptConf              East
opptDiv            Central
opptLoc               Home
opptRslt               Win
opptDayOff               0
Name: 1, dtype: object

Let's dig deeper into Klay Thompson's numbers from 2016-2017

In [9]:
kt = df[df['playDispNm'] == 'Klay Thompson'][['playMin', 'playPTS', 'playFG%', 'play2PA']]
kt.describe()

# another way to extract column information
# df[df['playLNm'] == 'Rose'].loc[:, 'playPTS']

         playMin    playFGM    playPTS    play2PA
count  78.000000  78.000000  78.000000  78.000000
mean   33.935897   8.256410  22.333333   9.358974
std     4.231422   2.862366   7.979953   3.023606
min    24.000000   3.000000   8.000000   4.000000
25%    31.000000   6.250000  17.000000   7.000000
50%    34.000000   8.000000  22.500000   9.000000
75%    37.000000  10.000000  26.000000  11.000000
max    47.000000  21.000000  60.000000  19.000000

At first glance

## player performance by game time

Do players perform better during the day or at night? 
1. get columns for common player stats (AST, TO, FG%, BLK, STL) and game times
2. categorize player stats by game times
3. compare average player stats between night and day and plot difference

In [15]:
df = pd.read_csv('2016-17_officialBoxScore.csv')
df.iloc[1,:]

gmDate        2016-10-25
gmTime             08:00
seasTyp          Regular
offLNm             Adams
offFNm            Bennie
teamAbbr              NY
teamConf            East
teamDiv         Atlantic
teamLoc             Away
teamRslt            Loss
teamMin              240
teamDayOff             0
teamPTS               88
teamAST               17
teamTO                18
teamSTL                6
teamBLK                6
teamPF                22
teamFGA               87
teamFGM               32
teamFG%           0.3678
team2PA               60
team2PM               23
team2P%           0.3833
team3PA               27
team3PM                9
team3P%           0.3333
teamFTA               20
teamFTM               15
teamFT%             0.75
                 ...
opptPTS1              28
opptPTS2              20
opptPTS3              34
opptPTS4              35
opptPTS5               0
opptPTS6               0
opptPTS7               0
opptPTS8               0
opptTREB%        54.8387
opptASST%        68.8889
opptTS%           0.5715
opptEFG%          0.5479
opptOREB%        21.5686
opptDREB%        78.4314
opptTO%          12.7812
opptSTL%         11.9554
opptBLK%          4.9814
opptBLKR          8.4746
opptPPS           1.2447
opptFIC          102.375
opptFIC40        84.9585
opptOrtg         116.565
opptDrtg         87.6731
opptEDiff        28.8922
opptPlay%         0.4592
opptAR           20.8951
opptAST/TO        2.0667
opptSTL/TO            80
poss             100.373
pace             100.373
Name: 1, Length: 119, dtype: object

In [22]:
df[df['teamAbbr'] == 'GS'][['gmTime', 'teamTO', 'teamSTL', 'teamFG%', 'team2P%', 'team3P%', 'teamFT%']]

     gmTime  teamTO  teamSTL  teamFG%  team2P%  team3P%  teamFT%
15    10:30      16       11   0.4706   0.6346   0.2121   0.7222
16    10:30      16       11   0.4706   0.6346   0.2121   0.7222
17    10:30      16       11   0.4706   0.6346   0.2121   0.7222
144   09:30      14        8   0.4835   0.5556   0.3214   0.8929
145   09:30      14        8   0.4835   0.5556   0.3214   0.8929
146   09:30      14        8   0.4835   0.5556   0.3214   0.8929
222   06:00      16        6   0.4217   0.5000   0.2759   0.8485
223   06:00      16        6   0.4217   0.5000   0.2759   0.8485
224   06:00      16        6   0.4217   0.5000   0.2759   0.8485
318   10:00      16       14   0.5618   0.6349   0.3846   0.7391
319   10:00      16       14   0.5618   0.6349   0.3846   0.7391
320   10:00      16       14   0.5618   0.6349   0.3846   0.7391
411   10:30      16        9   0.5111   0.5333   0.4667   0.8000
412   10:30      16        9   0.5111   0.5333   0.4667   0.8000
413   10:30      16        9   0.5111   0.5333   0.4667   0.8000
462   10:30      20       13   0.4535   0.6296   0.1563   0.7000
463   10:30      20       13   0.4535   0.6296   0.1563   0.7000
464   10:30      20       13   0.4535   0.6296   0.1563   0.7000
585   10:30      15       14   0.5000   0.5273   0.4571   0.8333
586   10:30      15       14   0.5000   0.5273   0.4571   0.8333
587   10:30      15       14   0.5000   0.5273   0.4571   0.8333
687   10:30      15        3   0.5811   0.6341   0.5152   0.5909
688   10:30      15        3   0.5811   0.6341   0.5152   0.5909
689   10:30      15        3   0.5811   0.6341   0.5152   0.5909
708   09:00      15       15   0.5412   0.5818   0.4667   0.9500
709   09:00      15       15   0.5412   0.5818   0.4667   0.9500
710   09:00      15       15   0.5412   0.5818   0.4667   0.9500
855   08:00      16        8   0.5172   0.5370   0.4848   0.8710
856   08:00      16        8   0.5172   0.5370   0.4848   0.8710
857   08:00      16        8   0.5172   0.5370   0.4848   0.8710
...     ...     ...      ...      ...      ...      ...      ...
6561  08:00      18        9   0.5417   0.5366   0.5484   0.7333
6562  08:00      18        9   0.5417   0.5366   0.5484   0.7333
6563  08:00      18        9   0.5417   0.5366   0.5484   0.7333
6636  08:00      17        9   0.5114   0.7234   0.2683   0.7500
6637  08:00      17        9   0.5114   0.7234   0.2683   0.7500
6638  08:00      17        9   0.5114   0.7234   0.2683   0.7500
6696  09:30      15        7   0.5119   0.5172   0.5000   1.0000
6697  09:30      15        7   0.5119   0.5172   0.5000   1.0000
6698  09:30      15        7   0.5119   0.5172   0.5000   1.0000
6807  10:30      12       10   0.4526   0.5079   0.3438   0.7143
6808  10:30      12       10   0.4526   0.5079   0.3438   0.7143
6809  10:30      12       10   0.4526   0.5079   0.3438   0.7143
6903  08:00      17        7   0.5618   0.6415   0.4444   0.8846
6904  08:00      17        7   0.5618   0.6415   0.4444   0.8846
6905  08:00      17        7   0.5618   0.6415   0.4444   0.8846
6969  10:30      13        9   0.5238   0.5769   0.4375   0.7917
6970  10:30      13        9   0.5238   0.5769   0.4375   0.7917
6971  10:30      13        9   0.5238   0.5769   0.4375   0.7917
7020  10:00      15       13   0.5000   0.5424   0.4194   0.7083
7021  10:00      15       13   0.5000   0.5424   0.4194   0.7083
7022  10:00      15       13   0.5000   0.5424   0.4194   0.7083
7167  10:30       9        2   0.5104   0.6190   0.3030   0.9375
7168  10:30       9        2   0.5104   0.6190   0.3030   0.9375
7169  10:30       9        2   0.5104   0.6190   0.3030   0.9375
7257  10:30      13        5   0.4875   0.5455   0.3600   0.7059
7258  10:30      13        5   0.4875   0.5455   0.3600   0.7059
7259  10:30      13        5   0.4875   0.5455   0.3600   0.7059
7365  10:30      21       14   0.4556   0.5370   0.3333   0.6818
7366  10:30      21       14   0.4556   0.5370   0.3333   0.6818
7367  10:30      21       14   0.4556   0.5370   0.3333   0.6818

[246 rows x 7 columns]

In [ ]:
df2 = df.pivot